/* Глобальные стили */
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: #6c757d;
}

img{
  width: 100%;
  max-width: 100%;
}

section{
  padding: 50px 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn{
  border: none;
  color: #6c757d;
}

.btn-bg{
  color: #fff;
  background: linear-gradient(to left, #23d5e3, #9149b9);
}

.btn-bg:hover{
  color: #fff;
  background: linear-gradient(to left, #9149b9, #23d5e3);
}

.text-clipped{
  padding: 1px;
  background: linear-gradient(to bottom, #23d5e3, #9149b9);
  -webkit-background-clip: text;
    color: transparent;
}

.section-heading h1{
  font-size: 20px;
  font-weight: normal;
  margin:0;
}
/* Конец глобальных стилей */

/* Хедер */
.custum-nav-conteiner{
  position: relative;
  z-index: 1;
}

.custum-nav-conteiner i{
  font-size: 20px;
  cursor: pointer;
}

.main-nav-outer{
  width: 250px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -250px;
  border-left:5px solid #fff;
  z-index: 1500;
  transition: 650ms all;
}

.main-nav-outer.open-menu{
  right: 0;
}

.menu-close-icon{
  position: absolute;
  top: 5px;
  left: 10px;
}

.main-nav .nav-link{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-icons-conteiner{
  width: 100%;
  max-width: 125px;
}

.nav-icons-conteiner i:hover{
  opacity: 0.7;
}

.navbar-brand i{
  font-size: 40px;
}

.navbar-brand i span{
  font-size: 20px;
  font-weight: 100;
}

.nav-icons>a{
  position: relative;
}

.nav-icons>a>.badge{
  position: absolute;
  top: -10px;
  right: -16px;
  background-color: #9149b9;
  color: #fff;
  border-radius: 100%;
}

.nav-icons .dropdown-menu{
  margin-top: 40px;
  width: 290px;
  margin-left: -230px;
  position: relative;
  background-color: #fff;
}

.nav-icons .dropdown-menu::before{
  content: '';
  position: absolute;
  top: -10px;
  right: 40px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border: inherit;
  transform: rotate(45deg);
  border-bottom-color:transparent;
  border-right-color:transparent;
}

.dropdown-toggle::after{
  display: none;
}

.dropdown-item{
  color: #333;
}

.promo{
  background-color: #333;
  font-size: 14px;
}

.carousel{
  z-index: 0;
}

.carousel-control-prev,.carousel-control-next{
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  background-color: #fff;
  opacity: 1;
}

.carousel-control-prev{
  border-top-right-radius:100%;
  border-bottom-right-radius:100%;
}

.carousel-control-next{
  border-top-left-radius:100%;
  border-bottom-left-radius:100%;
}

@media (min-width:992px){
  .main-nav-outer{
    width: initial;
    height: initial;
    background-color: initial;
    position: initial;
    border:none;
  }

  .nav-icons .dropdown-menu{
    margin-left: -262px;
  }

  .nav-icons .dropdown-menu::before{
    right: 8px;
  }

}
/* Конец Хедера */

/* Бренды */
.futured-brands img{
  max-width: 100px;
  max-height: 100px;
  opacity: .7;
  transition: opacity 650ms;
}

.futured-brands img:hover{
  opacity: 1;
}
/* Конец брендов */

/* Женская коллекция */
.hero-img{
  padding: 15px;
  margin:auto;
}
/* Конец женской коллекции */


/* Новые поступления */
.arrivals{
  background-color: #f5f5f5f5;
}

.new-arrival-img{
  max-width: 300px;
  margin: auto;
}
/* Конец новых поступлений */


/* Наши приемущества */
.our-servises-icons{
  width:100px;
  height: 100px;
  background-color: #fff;
  position: relative;
  background-clip: padding-box;
  border: 2px solid transperent;
  border-radius: 100%;
}

.our-servises-icons::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to bottom, #23d5e3, #9149b9);
}

.our-servises-icons i{
  font-size: 40px;
}

.our-servises-description h5{
  font-size: 16px;
}

.our-servises-description p{
  font-size: 14px;
}
/* Конец наших приемуществ */


/* Футер */
footer{
  color: #fff;
  background-color: #151515;
}

.footer-title{
  position: relative;
}

.footer-title h5{
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
}

.custom-border{
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, .1);
}

.custom-border::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  background: linear-gradient(to left, #23d5e3, #9149b9);
}

.footer-list li{
  border-bottom: 1px solid  rgba(255, 255, 255, .1);
  margin: 15px 0;
  padding: 5px 0;
}

.footer-list li:last-child{
  border:none;
}

.footer-link{
  color: #fff !important;
  transition: opacity 650ms;
}

.footer-link:hover{
  opacity: .6;
}


/* Конец футера */
